@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*  light mode  */
:root[color-mode="light"] {
    --body-bg-color-: #f6f8ff;
    --head-color-: #222731;
    --darklight-color-: #697c9a;
    --search-bg-color-: #fff;
    --search-color-: #4b6a9b;
    --black: #000;
    --follow-color-: #4b6a9b;
    --followTotaL-color-: #2b3442;
}

/*  dark mode  */
:root[color-mode="dark"] {
    --body-bg-color-: #141d2f;
    --head-color-: #fff;
    --darklight-color-: #fff;
    --search-bg-color-: #1e2a47;
    --search-color-: #fff;
    --black: #fff;
    --follow-bg-color-: #f6f8ff;
    --follow-color-: #fff;
    --followTotaL-color-: #fff;
    --social-color-: white;
}

body {
    background-color: var(--body-bg-color-);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    padding: 1.5rem;
    border: 1px solid var(--follow-color-);
    border-radius: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 25px;
}

.mode-name {
    font-size: 14px;
    font-weight: 400;
    color: #a6aab3;
}

.head {
    font-size: 20px;
    font-weight: 600;
    color: var(--head-color-);
}

:root[color-mode="light"] .light--hidden {
    display: none;
}

:root[color-mode="dark"] .dark--hidden {
    display: none;
}

.color-mode__btn {
    font-size: 13px;
    outline: none;
    background-color: var(--body-bg-color-);
    border: none;
    cursor: pointer;
    color: var(--darklight-color-);
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: space-between;
}

.search {
    position: relative;
    width: 418px;
    background-color: var(--search-bg-color-);
    border-radius: 15px;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchText {
    display: flex;
    align-items: center;
    height: 100%;
}


.searchText input {
    width: 16rem;
    height: 2rem;
    color: var(--search-color-);
    margin-left: 15px;
    border: none;
    outline: none;
    font-style: italic;
    background-color: transparent;
}

#search-bar::placeholder {
    /* color: var(--search-color-); */
    color: var(--follow-bg-color-);
    opacity: 0.8;
    /* font-size: 15px; */
}

.searchbtn {
    position: absolute;
    right: 1rem;
    color: #fff;
    background-color: #0079ff;
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.searchbtn:hover {
    border: 1px solid #141c2f;
    transition: 2s;
}

.resultBody {
    margin-top: 15px;
    background-color: var(--search-bg-color-);
    padding: 1rem;
    width: 430px;
    /* height: 419px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultBody .mainImg {
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    object-fit: contain;
    margin-left: 1rem;
}

.resultBody .mainImg img {
    object-fit: contain;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.githubHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 450px; */
    width: 100%;
    margin-top: 10px;
}

.githubInfo {
    height: 100%;
    width: 300px;
    position: relative;
}

.githubUser {
    font-size: 15px;
    font-weight: bold;
    color: var(--follow-bg-color-);
}

.githubJoinedDate {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 11px;
    color: var(--darklight-color-);
    margin-top: 5px;
    margin-right: 1rem;
}

.githubUserName {
    margin-top: 5px;
    font-size: 14.5px;
}

.githubUserName a {
    font-size: 15px;
    color: #0079ff;
    text-decoration: none;
}

.githubFact {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.githubBio {
    width: 283px;
    /* height: 25px; */
    color: var(--search-color-);
    margin-top: -31px;
    margin-bottom: 30px;
}

/* .githubRepo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--body-bg-color-);
    height: 68px;
    width: 420px;
    width: 100%;
    border-radius: 1rem;
} */

.githubRepo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--body-bg-color-);
    height: 68px;
    width: 294px;
    /* width: 100%; */
    border-radius: 1rem;
}
.repoHeading,
.followerHeading,
.followingHeading {
    font-size: 13px;
    opacity: 0.8;
    font-weight: 400;
    color: var(--follow-bg-color-);
}

.repoTotal,
.followerTotal,
.followingTotal {
    font-size: 15px;
    color: var(--followTotaL-color-);
    font-weight: 600;
}

/* .githubSocial {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 1.2em;
    color: var(--social-color-);
    margin-top: 2.5rem;
} */

.githubSocial {
    display: grid;
    grid-template-columns: 140px 140px;
    row-gap: 1.2em;
    color: var(--social-color-);
    margin-top: 2.5rem;
}

.location,
.twitter,
.website,
.company {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.location svg,
.twitter svg,
.website svg,
.company svg {
    margin-right: 10px;
}


@media screen and (max-width: 769px) {
    header,
    .search {
        width: 350px;
    }

    header {
        padding: 1.5rem 1rem;
    }

    /* .searchText input {
        width: 400px;
    } */

    .resultBody {
        width: 350px;
    }

    /* .resultBody {
        width: 573px;
        height: 481px;
    } */

    .githubHead,
    .githubRepo,
    .githubSocial {
        width: 350px;
    }

    .githubSocial {
        grid-template-columns: 170px 170px;
    }

    .githubBio {
        width: 330px;
        margin-top: -11px;
        margin-left: 8px;
        margin-bottom: 20px;
    }

    .githubInfo {
        width: 230px;
    }

    .githubFact {
        width: 350px;
        align-items: flex-start;
    }

    .githubJoinedDate {
        top: 45px;
        left: 0;
    }

    .githubFact {
        margin-top: 25px;
    }
}


@media screen and (max-width: 416px) {
    header,
    .search {
        width: 300px;
    }

    header {
        padding: 0;
        border: none;
    }

    /* .searchText input {
        width: 400px;
    } */

    .resultBody {
        width: 300px;
    }

    /* .resultBody {
        width: 573px;
        height: 481px;
    } */

    .githubHead,
    .githubRepo,
    .githubSocial {
        width: 300px;
    }

    .githubSocial {
        grid-template-columns: 140px 140px;
    }

    .githubBio {
        width: 270px;
        margin-top: -11px;
        margin-left: 8px;
        margin-bottom: 20px;
    }

    .githubInfo {
        width: 175px;
    }

    .githubFact {
        width: 300px;
        align-items: flex-start;
    }

    .githubJoinedDate {
        top: 45px;
        left: 0;
    }

    .githubFact {
        margin-top: 25px;
    }

    .githubSocial {
        display: flex;
        flex-direction: column;
        /* row-gap: 1.2em; */
        gap: 2rem;
        color: var(--social-color-);
        margin-top: 2rem;
    }
}

/* @media screen and (max-width: 415px) {
    header,.search, .resultBody {
        width: 290px;
    }

    .githubInfo {
        height: auto;
    }

    .githubJoinedDate {
        position: relative;
        top: auto;
    }

    .githubInfo {
        width: auto;
        margin-right: 1rem;
    }

    .githubBio {
        width: 350px;
        margin-top: 17px;
    }
} */